{% extends 'base.html' %}
{%load static%}

{% block title %} Page Title {% endblock %}

{% block content %}

<!-- Showcase -->
<section class="bg-dark text-light p-5 text-centre">
    <div class="container">
        <div class="d-sm-flex">
            <div>
                <h1>Help those in need!!</h1>
            </div>
            <img class="image-fluid" src="{%static 'website/disaster_photo.jpeg'%}" alt="Earthquake image"/>
        </div>
    </div>
</section>

<!-- Boxes -->
<div class="section p-5">
    <div class="container">
        <div class="row text-centre">
            <div class="col-md">
                <div class="cards bg-dark text-light">
                    <div class="card-body text-centre">
                        <h3 class="card-title mb-3">Guidlines</h3>
                        <p class="card-text">Click here to know general measures!!!</p>
                        <a href="{% url 'dm:gen_guidelines' %}" class="href-">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
            <div class="col-md"></div>
        </div>
    </div>
</div>
{% endblock %}